{% extends "AseagleFrontBundle::layout.html.twig" %} 
{% block classbody %}class="detail-page"{% endblock %} 
{% block content %} 
{% form_theme form 'AseagleFrontBundle:Form:fields.html.twig' %}
<section class="two-col">
    <section class="col left">{{ render(controller('AseagleFrontBundle:Default:leftSidebar')) }}</section>
    <section class="col right">
        <h2 class="title">{{ 'Cart'|trans }}</h2>
        <div class="feature-block news-block">
            {% include 'AseagleFrontBundle:Blocks:messages.html.twig' %}
            <form role="form" action="" method="post" class="full-width">
            <table class="table">
                <caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'Picture'|trans }}</th>
                            <th>{{ 'Product Name'|trans }}</th>
                            <th>{{ 'Product Price'|trans }}</th>
                            <th>{{ 'Quantity'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set sum = 0 %}
                        {% for item in form.orderItems %}
                        <div style="display:none">{{ form_widget(item) }}</div>
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ path('front_product_detail', {id: item.product.vars.data.id, alias: item.product.vars.data.slug}) }}"><img class="img-responsive"  style="max-width: 150px; max-height:85px" src="{{ asset('/uploads/products/' ~ item.product.vars.data.thumbnail) }}" class="" /></a></td>
                            <td><a href="{{ path('front_product_detail', {id: item.product.vars.data.id, alias: item.product.vars.data.slug}) }}">{{ item.product.vars.data.name }}</a></td>
                            <td><font color="red">{{ (item.product.vars.data.price * item.quantity.vars.data)|number_format(0, ',', '.') }} VND</font></td>
                            <td>{{ item.quantity.vars.data }}</td>
                            <td>
                                <a href="">{{ 'Delete'|trans }}</a>
                            </td>
                        </tr>
                            {% set sum = sum + (item.product.vars.data.price * item.quantity.vars.data) %}
                        {% endfor %}
                        <tr>
                            <td colspan="3" align="right">
                                {{ 'Total'|trans }}
                            </td>
                            <td colspan="3" align="left">
                                <font color="red">{{ sum|number_format(0, ',', '.') }} VND</font>
                            </td>
                        </tr>                        
                    </tbody>
                </caption>
            </table>
            <h2 class="title">{{ 'Customer Information'|trans }}</h2>
            {{ form_widget(form) }}
            <button style="border:none" class="btn btn-default" type="submit">{{ 'Submit'|trans }}</button>
            </form>
        </div>
    </section>
</section>
{% endblock %}
