<nav class="nav-main">
    <h2>Danh mục</h2>
    <ul>
        {% for item in categories %}
        <li  {% if loop.first %} class="active" {% endif %}><a href="{{ path('front_product_list', {id: item.id, alias: item.slug}) }}" title="{{ item.title }}">{{ item.title }}</a></li> 
        {% endfor %}
        <li><a href="{{ path('front_consultant') }}" title="Dịch vụ tư vấn">Dịch vụ tư vấn</a></li>
    </ul>
</nav>
<aside id="sidebar">
    <nav class="side-nav">
        <h2>Dịch vụ tư vấn</h2>
        <ul>
            {% for item in consultants %}
                <li><a href="{{ path('front_consultant_list', {id:item.id}) }}" title="{{ item.title }}">{{ item.title }}</a>
                    <ul>
                        {% for item1 in item.children %}
                        <li><a href="{{ path('front_consultant_list', {id:item1.id}) }}" title="{{ item1.title }}">{{ item1.title }}</a></li>
                        {% endfor %}                   
                    </ul>
                </li>
            {% endfor %}           
        </ul>
        <h2>Nhãn hiệu</h2>
        <ul class="brand-logo">
            {% for brand in brands %}
            <li><a href="{{ path('front_product_brand', {id:brand.id, alias:brand.slug}) }}" title="TV">
                {% if brand.picture != '' %}
                <img src="{{ asset('/uploads/' ~ brand.picture) }}" width="117" alt="{{ brand.name }}" />
                {% else %}
                {{ brand.name }}
                {% endif %}
                </a></li>
            {% endfor %}           
        </ul>
    </nav>
</aside>
