{% extends 'AseagleAdminBundle::layout.html.twig' %} 

{% block javascript %}
{{ parent() }}
{{ elfinder_tinymce_init4('default', {'width':'1024', 'height': '450', 'title':'Files Manager'|trans} ) }}
{{ tinymce_init() }}
{% endblock %}

{% block content %}
<!-- BEGIN FORM-->
{% form_theme form 'AseagleAdminBundle:Form:fields.html.twig' %}
<form action="" id="form_validated_2" method="POST" class="horizontal-form" novalidate="novalidate">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-docs font-green-sharp"></i> <span class="caption-subject font-green-sharp bold uppercase">{{ 'Category'|trans }}</span>
            </div>
            <div class="actions">                
                <a href="{{ path('admin_category') }}" class="btn btn-circle btn-default"> <i class="fa fa-angle-left"></i> <span class="hidden-480"> {{ 'Back'|trans }}</span></a>
                <button type="submit" class="btn btn-circle green-haze"><i class="fa fa-check"></i> {{ 'Save'|trans }}</button>
                <button type="submit" name="saveedit" class="btn btn-circle green-haze"><i class="fa fa-check-circle"></i> {{ 'Save & Continute Edit'|trans }}</button>        
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                {{ form_widget(form) }}                  
            </div>
            <div class="form-actions right">
                <button type="button" class="btn default">{{ 'Cancel'|trans }}</button>
                <button type="submit" class="btn blue">
                    <i class="fa fa-check"></i> {{ 'Save'|trans }}
                </button>
            </div>
        </div>
    </div>
 </form>
{% endblock %}
