{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
    <div class="form-group">
        {{ form_label(form) }}
        <div class="input-icon right">
            <i class="fa fa-warning tooltips" data-original-title=""></i>
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
        
   </div>
{% endblock field_row %}

{% block form_label %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label class="control-label" for="{{ id }}">
        {% if translation_domain is defined%}
            {{ label|trans({}, translation_domain)|raw }}:
        {% else %}
            {{ label|trans|raw }}:
        {% endif %}
        {% if required and name != 'trail' %}
            <span class="required">*</span>
        {% endif %}
    </label>
{% endblock %}

{% block form_rows %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {% if 'checkbox' in form.vars.block_prefixes %}
            <div class="checkbox">
                <label>
                {{ form_widget(form) }}
                </label>
            </div>
            {{ form_errors(form) }}
        {% elseif 'date' in  form.vars.block_prefixes %}
            <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                {{ form_widget(form) }}
                <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        {% else %}
        <div class="input-icon right">
            <i class="fa"></i>
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
        {% endif %}  
   </div>
{% endblock form_row %}

{% block filemanage_widget %}
    {% spaceless %}
        <div class="input-group">
            {{ form_widget(form) }}
            <span class="input-group-btn">
                <button class="btn fileModal" data-target="#fileManager" href="#fileManager" type="button">{{ 'Select'|trans }}</button>
            </span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
    <div class="form-control height-auto">
        <div class="scroller" style="height:150px;" data-always-visible="1">
            <ul class="list-unstyled">
            {%- for child in form %}
                <li><label>{{- form_widget(child) -}}{{ child.vars.label }}</label></li>
            {% endfor -%}
            </ul>
        </div>
    </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}
{% block elfinder_widget %}
    <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} data-type="elfinder-input-field" />
{% endblock %}



