<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th> &nbsp;</th>
            <th width="15%">{{ 'View'|trans() }}</th>
            <th width="15%">{{ 'Create'|trans() }}</th>
            <th width="15%">{{ 'Edit'|trans() }}</th>
            <th width="15%">{{ 'Delete'|trans() }}</th>
            <th width="15%">{{ 'All'|trans() }}</th>
        </tr>
    </thead>       
    <tbody>
        {% set group = -1 %}
        {% for acl in aclData %}            
            <tr>
                <td><strong>{{ acl.name|trans() }}</strong></td>
                <td><input type="checkbox" {% if acls[acl.id]['view'] is defined and acls[acl.id]['view'] == true %} checked="checked" {% endif %} 
                           class="aclCheckbox" value="{{aclMask['view']}}" name="permission[{{acl.class}}][]" ></td>
                <td><input type="checkbox" {% if acls[acl.id]['create'] is defined and acls[acl.id]['create'] == true %} checked="checked" {% endif %}
                           class="aclCheckbox" value="{{aclMask['create']}}" name="permission[{{acl.class}}][]" ></td>
                <td><input type="checkbox" {% if acls[acl.id]['edit'] is defined and acls[acl.id]['edit'] %} checked="checked" {% endif %}
                           class="aclCheckbox" value="{{aclMask['edit']}}" name="permission[{{acl.class}}][]" ></td>
                <td><input type="checkbox" {% if acls[acl.id]['delete'] is defined and acls[acl.id]['delete'] == true %} checked="checked" {% endif %}
                           class="aclCheckbox" value="{{aclMask['delete']}}" name="permission[{{acl.class}}][]" ></td>
                <td><input type="checkbox" {% if acls[acl.id]['owner'] is defined and acls[acl.id]['owner'] == true %} checked="checked" {% endif %}
                           class="aclAll" value="{{aclMask['owner']}}" name="permission[{{acl.class}}][]" ></td>
            </tr>
        {% endfor %}
    </tbody>    
</table>