<div class="tiles">
    <div class="tile double-down bg-blue-hoki">
        <div class="tile-body">
            <i class="fa fa-file-o"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Posts'|trans }}</div>
        </div>
    </div>
    <div class="tile bg-red-sunglo">
        <div class="tile-body">
            <i class="fa fa-suitcase"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Products'|trans }}</div>
            <div class="number"></div>
        </div>
    </div>
    <div class="tile bg-green-turquoise">
        <div class="tile-body">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="tile-object">
            <div class="name">
                <div class="name">{{ 'Orders' }}</div>
                <div class="number"></div>
            </div>
        </div>
    </div>
    <div class="tile bg-yellow-saffron">
        <div class="corner"></div>
        <div class="tile-body">
            <i class="fa fa-user"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Customers'|trans }}</div>
            <div class="number"></div>
        </div>
    </div>
    <div class="tile bg-blue-madison">
        <div class="tile-body">
            <i class="fa fa-users"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Groups'|trans }}</div>
            <div class="number"></div>
        </div>
    </div>
    <div class="tile bg-purple-studio">
        <div class="tile-body">
            <i class="fa fa-key"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Permission'|trans }}</div>
            <div class="number"></div>
        </div>
    </div>
    <div class="tile image">
        <div class="tile-body">
            <img src="{{ asset('/bundles/aseagleadmin/admin/pages/media/gallery/image2.jpg')}}" alt="">
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Media'|trans }}</div>
            <div class="number"></div>
        </div>
    </div>
    <div class="tile bg-green-meadow">
        <div class="tile-body">
            <i class="fa fa-suitcase"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Brands'|trans }}</div>
            <div class="number"></div>
        </div>
    </div>   
    <div class="tile bg-red-intense">
        <div class="tile-body">
            <i class="fa fa-folder-o"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Categories'|trans }}</div>
            <div class="number"></div>
        </div>
    </div>
    <div class="tile bg-green">
        <div class="tile-body">
            <i class="fa fa-file-image-o"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Banners'|trans }}</div>
            <div class="number"></div>
        </div>
    </div>
    <div class="tile bg-blue-steel">
        <div class="tile-body">
            <i class="fa fa-globe"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Pages'|trans }}</div>
            <div class="number"></div>
        </div>
    </div>
    <div class="tile bg-yellow-lemon">
        <div class="corner"></div>
        <div class="check"></div>
        <div class="tile-body">
            <i class="fa fa-cogs"></i>
        </div>
        <div class="tile-object">
            <div class="name">{{ 'Settings'|trans }}</div>
        </div>
    </div>
    <div class="tile bg-red-sunglo">
        <div class="tile-body">
            <i class="fa fa-plane"></i>
        </div>
        <div class="tile-object">
            <div class="name">Projects</div>
            <div class="number">34</div>
        </div>
    </div>
</div>