{% extends 'AseagleAdminBundle::layout.html.twig' %} 

{% block content %}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-briefcase font-green-sharp"></i> <span class="caption-subject font-green-sharp bold uppercase">{{ 'Banners'|trans }}</span>
        </div>
        <div class="actions">
            <a href="{{ path('admin_banner_new') }}" class="btn btn-circle btn-default"> <i class="fa fa-plus"></i> <span class="hidden-480"> {{ 'New'|trans }}</span>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-container">
            <div class="table-actions-wrapper">
                <span> </span> <select class="table-group-action-input form-control input-inline input-small input-sm">
                    <option value="">{{ 'Select...'|trans }}</option>
                    <option value="publish">{{ 'Publish'|trans }}</option>
                    <option value="unpublished">{{ 'Un-publish'|trans }}</option>
                    <option value="delete">{{ 'Delete'|trans }}</option>
                </select>
                <button class="btn btn-sm yellow table-group-action-submit">
                    <i class="fa fa-check"></i> {{ 'Submit'|trans }}
                </button>
            </div>
            <table class="table table-striped table-bordered table-hover" id="datatable_ajax" data-length="50" data-url="{{ path('admin_banner') }}">
                <thead>
                    <tr role="row" class="heading">
                        <th width="1%"><input type="checkbox" class="group-checkable"></th>
                        <th width="10%">{{ 'BannerPicture'|trans }}</th>
                        <th width="35%">{{ 'Banner Name'|trans }}</th>
                        <th width="10%">{{ 'Level'|trans }}</th>
                        <th width="10%">{{ 'Date Created'|trans }}</th>
                        <th width="12%">{{ 'Status'|trans }}</th>
                        <th width="10%">{{ 'Actions'|trans }}</th>
                    </tr>
                    <tr role="row" class="filter">
                        <td></td>
                        <td><input type="text" class="form-control form-filter input-sm" readonly="readonly" placeholder="{{ 'Brand Picture'|trans }}"></td>
                        <td>{{ form_widget(formFilter.name) }}</td>
                        <td>{{ form_widget(formFilter.position) }}</td>
                        <td>
                            <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                {{ form_widget(formFilter.created_from) }} 
                                <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                {{ form_widget(formFilter.created_to) }}
                                <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td>{{ form_widget(formFilter.enabled) }}</td>
                        <td>
                            <div class="margin-bottom-5">
                                <button class="btn btn-sm yellow filter-submit margin-bottom">
                                    <i class="fa fa-search"></i> {{ 'Search'|trans }}
                                </button>
                            </div>
                            <button class="btn btn-sm red filter-cancel">
                                <i class="fa fa-times"></i> {{ 'Reset'|trans }}
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
