{% set user = app.security.getToken().getUser() %}

{% if user and user.fullname is defined %}
<ul class="sign-in-block">
    <li><a href="{{ path('front_profile') }}" title="{{ user.fullname }}">{{ user.fullname }}</a></li>
    <li><a href="{{ path('front_logout') }}" title="{{ 'Logout'|trans }}">{{ 'Logout'|trans }}</a></li>
</ul>
{% else %}
<ul class="sign-in-block">
    <li><a href="{{ path('front_register') }}" title="{{ 'Register'|trans }}">{{ 'Register'|trans }}</a></li>
    <li><a href="{{ path('front_login') }}" title="{{ 'Login'|trans }}">{{ 'Login'|trans }}</a></li>
    <li><a href="{{ path('front_fb_login') }}" title="Tài khoản Facebook">Tài khoản Facebook</a></li>
</ul>
{% endif %}