{% extends 'AseagleAdminBundle::layout.html.twig' %} 

{% block javascript %}
{{ parent() }}
{{ elfinder_tinymce_init4('default', {'width':'1024', 'height': '450', 'title':'Files Manager'|trans} ) }}
{{ tinymce_init() }}
{% endblock %}

{% block content %}
<!-- BEGIN FORM-->
{% form_theme form 'AseagleAdminBundle:Form:fields.html.twig' %}
<form action="" id="form_validated_2" method="POST" class="horizontal-form" novalidate="novalidate">
    <div class="row">
        <div class="col-md-9">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-docs font-green-sharp"></i> <span class="caption-subject font-green-sharp bold uppercase">{{ 'Pages'|trans }}</span>
                    </div>
                    <div class="actions">                
                        <a href="{{ path('admin_page') }}" class="btn btn-circle btn-default"> <i class="fa fa-angle-left"></i> <span class="hidden-480"> {{ 'Back'|trans }}</span></a>
                        <button type="submit" class="btn btn-circle green-haze"><i class="fa fa-check"></i> {{ 'Save'|trans }}</button>
                        <button type="submit" name="saveedit" class="btn btn-circle green-haze"><i class="fa fa-check-circle"></i> {{ 'Save & Continute Edit'|trans }}</button>        
                    </div>
                </div>
                <div class="portlet-body form">
                    
                        <div class="form-body">
                            {{ form_row(form.title) }}
                            {{ form_row(form.slug) }}
                            {{ form_row(form.content) }}
                            {{ form_row(form.enabled) }}
                        </div>
                        <div class="form-actions right">
                            {{ form_row(form._token) }}
                            <button type="button" class="btn default">{{ 'Cancel'|trans }}</button>
                            <button type="submit" class="btn blue">
                                <i class="fa fa-check"></i> {{ 'Save'|trans }}
                            </button>
                        </div>
                   
                </div>
            </div>
        </div>
        <div class="col-md-3">            
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject">{{ 'Meta'|trans }}</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    {{ form_row(form.metaTitle) }}
                    {{ form_row(form.metaContent) }}
                    {{ form_row(form.metaKeywords) }}
                </div>
            </div>    
        
        
        </div>
    </div>
 </form>
{% endblock %}
